body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: Arial, verdana, sans-serif;
    font-size: 1em;
}

.navbar-custom {
    background-color: #ff6955;
}

.mobile {
    display: none;
}

.desktop {
    display: inline;
}

@media only all and (max-width: 768px) { 
  .mobile {
      display: inline;
  }
  .desktop {
      display: none;
  }
  }